
a ~ button, button ~ a, button ~ button {
  margin-left: 10px;
}

span.badge ~ span.badge {
  margin-left: 10px;
}

.main-content {
  margin-top: 55px;
}

.bd-sidebar {
  border: 1px solid rgba(0,0,0,.05);
  padding-top: 10px;
}
.bd-search {
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding: 20px;
  /*margin-bottom: 20px;*/
}

.bd-sort {
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding: 20px;
  margin-bottom: 20px;
}

.bd-sort > label {
  margin-bottom: 0;
}

.bd-sort select {
  height: 36px;
}

.bd-post {
  margin-bottom: 20px;
}

.bd-post:first-child {
  margin-top: 30px;
}

.bd-post-vote,
.bd-comment-vote {
  list-style-type: none;
  text-align: center;
}

.bd-post-vote .badge,
.bd-comment-vote .badge {
  line-height: 30px;
  text-align: center;
  width: 46px;
}

.bd-post-vote .badge:hover,
.bd-comment-vote .badge:hover{
  cursor: pointer;
}

.bd-post-vote li,
.bd-comment-vote li {
  margin-bottom: 5px;
}

form.bd-commment-create-edit {
  padding: 20px 50px;
}
/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/


/*.Post-container {*/
  /*border: 1px solid pink;*/
  /*margin: 10px;*/
/*}*/

/*.Post-actions-vote > ul {*/
  /*list-style-type: none;*/
  /*text-align: center;*/
/*}*/

/*.Post-actions-vote li {*/
  /*display: inline;*/
/*}*/

